{% extends 'noticia_en.html' %}
{% load url from future %}{% load thumbnail %}
{% load staticfiles %}
{% block title %}
    <title>Buen Viaje a Cuba - Distribution</title>
{% endblock %}

{% block content_content %}
    <ol class="breadcrumb">
        <li><a href="/?language=en">Home</a></li>
        <li><a href="/la_revista/?language=en">The Magazine</a></li>
        <li class="active">Distribution</li>
    </ol>
    <div class="media wow fadeInDown single_page_content">
        <img class="img-center" src="{{ imagen }}" alt="img">
    </div>
    <div class="title_containter">
        <h2>Fairs Distribution {{ anho }}</h2>
    </div>
    <div class="text_containter">
        <p>{{ encabezado|safe }}</p>
        {{ texto|safe }}
    </div>
{% endblock %}
{% block new_scripts %}
    <script>
        window.onload = function () {
            uploadSomePics();
        };
    </script>
{% endblock %}