{% extends 'noticia_en.html' %}
{% load url from future %}{% load thumbnail %}
{% load staticfiles %}

{% block content_content %}
    <div class="static_content">
        <ol class="breadcrumb">
            <li><a href="/?language=en">Home</a></li>
            <li class="active">Search</li>
        </ol>
        {% if total == -1 %}
            <h5>Type something to search</h5>
        {% elif total == 0 %}
            <h5>No items founded with<strong> {{ query }}</strong></h5>
        {% elif total == 1 %}
            <h5>Founded {{ total }} item that contains <strong>{{ query }}</strong></h5>
        {% else %}
            <h5>Founded {{ total }} items that contains <strong>{{ query }}</strong></h5>
        {% endif %}
        {% if events %}
            <div class="title_containter">
                <h2>Events</h2>
            </div>

            <div class="eventos" style="border-bottom: 1px solid white">
                {% for x in events %}
                    <div class="search_result">
                        <h4><a href="/eventos/{{ x.fecha_inicio.month }}/?language=en#{{ x.pk }}">{{ x.en_titulo }}</a></h4>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if news %}
            <div class="title_containter">
                <h2>News</h2>
            </div>
            <div class="eventos" style="border-bottom: 1px solid white">
                {% for x in news %}
                    <div class="search_result">
                        <h4><a href="/noticia/{{ x.pk }}/?language=en#go_here">{{ x.en_titulo }}</a></h4>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if magazines %}
            <div class="title_containter">
                <h2>Magazine</h2>
            </div>
            <div class="eventos" style="border-bottom: 1px solid white">
                {% for x in magazines %}
                    <div class="search_result">
                        <h4><a href="{{ x.url.url }}"> Number {{ x.numero }} Year {{ x.anho }}</a></h4>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if free_time %}
            <div class="title_containter">
                <h2>Free Time</h2>
            </div>
            <div class="eventos" style="border-bottom: 1px solid white">
                {% for x in free_time %}
                    <div class="search_result">
                        <h4><a href="/tiempo_libre/?language=en#go_here">{{ x.en_titulo }}</a></h4>
                    </div>

                {% endfor %}
            </div>
        {% endif %}

        {% if la_revista_secciones %}
            <div class="title_containter">
                <h2>The Magazine</h2>
            </div>
            <div class="eventos" style="border-bottom: 1px solid white">
                {% for x in la_revista_secciones %}
                    <div class="search_result">
                        <h4><a href="/la_revista/?language=en#secciones_{{ x.pk }}">{{ x.en_titulo }}</a></h4>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if distribuciones %}
            <div class="title_containter">
                <h2>Distribution</h2>
            </div>
            <div class="eventos" style="border-bottom: 1px solid white">
                {% for x in distribuciones %}
                    <div class="search_result">
                        <h4><a href="/distribucion/?language=en">Distribution</a></h4>
                    </div>

                {% endfor %}
            </div>
        {% endif %}
        {% if informacion_general_cuba or informacion_general_cuba_secciones %}
            <div class="title_containter">

                <h2>General Information</h2>
            </div>
            <div class="eventos" style="border-bottom: 1px solid white">
                {% if informacion_general_cuba %}
                    {% for x in informacion_general_cuba %}
                        <div class="search_result">
                            <h4><a href="/informacion_general/?language=en">General Information</a></h4>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if informacion_general_cuba_secciones %}
                    {% for x in informacion_general_cuba_secciones %}
                        <div class="search_result">
                            <h4><a href="/informacion_general/?language=en#secciones_{{ x.pk }}">{{ x.en_titulo }}</a></h4>
                        </div>
                    {% endfor %}

                {% endif %}
            </div>
        {% endif %}

        {% if informacion_destinos %}
            <div class="title_containter">
                <h2>Information by Destination</h2>
            </div>
            <div class="eventos" style="border-bottom: 1px solid white">
                {% for x in informacion_destinos %}
                    <div class="search_result">
                        <h4><a href="/informacion_destinos/?language=en">{{ x.en_nombre }}</a></h4>
                    </div>
                {% endfor %}
            </div>
        {% endif %}


    </div>
{% endblock %}
{% block new_scripts %}
    <script>
        window.onload = function () {
            uploadSomePics();
        };
    </script>
{% endblock %}
